
{% if page.permalink == "/teaching/" %}
I am always open to new teaching opportunities in the academia. 
{% else %}
I am always open to new opportunities.
{% endif %}

Feel free to schedule a [<i class="fas fa-phone"></i> chat](/calendar/){: .btn .btn--info} with me.

Download my always-up-to-date [<i class="fas fa-download"></i> CV](https://www.dropbox.com/s/2n17zew4fjqrqbp/Adaickalavan%20Meiyappan.pdf?dl=1){: .btn .btn--success}.

{% if page.permalink == "/teaching/" %}
Download my [<i class="fas fa-download"></i> Teaching Statement](https://www.dropbox.com/scl/fi/rarj0u4f72r7vfjuicrtx/Teaching-statement.pdf?rlkey=zr57q2v55r4v37xltprp42wh9&st=x4gal0hv&dl=1){: .btn .btn--warning}.
{% endif %} 

## Curriculum Vitae
{% include embedpdf.html code="s/2n17zew4fjqrqbp/Adaickalavan%20Meiyappan.pdf?dl=0" width=100 height=600 %}

{% if page.permalink == "/teaching/" %}
## Teaching Statement
{% include embedpdf.html code="scl/fi/rarj0u4f72r7vfjuicrtx/Teaching-statement.pdf?rlkey=zr57q2v55r4v37xltprp42wh9&st=trcqdtje&dl=0" width=100 height=600 %}
{% endif %}